@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@keyframes rotateZ {
  0% {
    transform: rotateZ(-10deg);
  }
  12% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(10deg);
  }
  37% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  62% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  87% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}
/* line 87, ../sass/style.scss */
body {
  font-family: 'Noto Sans TC','Josefin Sans', sans-serif;
}
/* line 89, ../sass/style.scss */
body h1 {
  font-size: 25px;
}
/* line 90, ../sass/style.scss */
body h2 {
  font-size: 20px;
}
/* line 91, ../sass/style.scss */
body h3 {
  font-size: 16px;
}
/* line 92, ../sass/style.scss */
body p {
  font-size: 14px;
}
/* line 93, ../sass/style.scss */
body span {
  font-size: 14px;
}
/* line 51, ../sass/style.scss */
body .j_holiday h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 98, ../sass/style.scss */
body .j_holiday .panel-body .clearfix {
  margin-top: 15px;
}
/* line 100, ../sass/style.scss */
body .j_holiday .panel-body .clearfix .week_group {
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
}
/* line 103, ../sass/style.scss */
body .j_holiday .panel-body .clearfix .week_group .week_days {
  padding: 10px !important;
  background-image: linear-gradient(to bottom, #999 0, #333 100%);
  border: 1px solid #aaa;
  color: #eeeeee;
}
/* line 108, ../sass/style.scss */
body .j_holiday .panel-body .clearfix .week_group .week_days:first-child {
  border-radius: 5px 0 0 0;
}
/* line 111, ../sass/style.scss */
body .j_holiday .panel-body .clearfix .week_group .week_days:last-child {
  border-radius: 0 5px 0 0;
}
/* line 115, ../sass/style.scss */
body .j_holiday .panel-body .clearfix .week_group h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 121, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .check_password_dis {
  display: none;
}
/* line 124, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .show_box {
  background-color: rgba(50, 50, 50, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
}
/* line 135, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .show_box .check_password {
  box-shadow: 0px 0px 10px rgba(15, 37, 64, 0.6);
  border-radius: 5px;
  position: fixed;
  width: 30%;
  height: 30%;
  padding: 2%;
  background-color: #d9edf7;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
/* line 148, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .show_box .check_password h3 {
  margin-top: 0;
  text-align: left;
  color: #222222 !important;
}
/* line 153, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .show_box .check_password button {
  margin: 20px 5px 0 5px;
}
/* line 158, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .btn_group {
  margin-top: 15px;
}
/* line 160, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .btn_group .btn_dis {
  display: none;
}
/* line 163, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .btn_group .cancel_check, body .j_holiday .panel-body .clearfix form[name="holiday_form"] .btn_group .reset_check {
  margin-right: 15px;
}
/* line 167, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group {
  border: 1px solid #aaa;
}
/* line 169, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group .m_l_1 {
  margin-left: 14.28571%;
}
/* line 172, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group .m_l_2 {
  margin-left: 28.57143%;
}
/* line 175, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group .m_l_3 {
  margin-left: 42.85714%;
}
/* line 178, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group .m_l_4 {
  margin-left: 57.14286%;
}
/* line 181, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group .m_l_5 {
  margin-left: 71.42857%;
}
/* line 184, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group .m_l_6 {
  margin-left: 85.71429%;
}
/* line 188, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group.editting div {
  cursor: pointer;
}
/* line 191, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group.editting .select_day.set_holiday {
  background-color: #ffffff;
  color: #222222;
  font-weight: 400;
}
/* line 196, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group.editting .select_day {
  background-color: #FCEBF1;
  color: #D0104C;
  font-weight: 700;
}
/* line 202, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group div {
  border: 1px solid #aaa;
  font-size: 30px;
  text-align: left;
}
/* line 206, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group div.set_holiday {
  background-color: #FCEBF1;
  color: #D0104C;
  font-weight: 700;
}
/* line 212, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group span {
  border: 1px solid #aaa;
}
/* line 216, ../sass/style.scss */
body .j_holiday .panel-body .clearfix form[name="holiday_form"] .day_group .input_area input {
  display: none;
}
/* line 222, ../sass/style.scss */
body .j_holiday .panel-body .clearfix .col-md-1, body .j_holiday .panel-body .clearfix .col-sm-1, body .j_holiday .panel-body .clearfix .col-xs-1 {
  padding: 0px !important;
  text-align: center;
  width: 14.28571%;
}
/* line 231, ../sass/style.scss */
body .survey_form_style {
  padding-top: 50px;
  margin-bottom: 30px;
}
/* line 234, ../sass/style.scss */
body .survey_form_style .survey_title {
  margin-top: 15px;
  margin-bottom: 25px;
}
/* line 238, ../sass/style.scss */
body .survey_form_style .survey_form {
  box-shadow: 0px 0px 10px rgba(15, 37, 64, 0.6);
  border-radius: 5px;
}
/* line 241, ../sass/style.scss */
body .survey_form_style .survey_form .survey_sati {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 244, ../sass/style.scss */
body .survey_form_style .survey_form .survey_sati div {
  text-align: center;
}
/* line 248, ../sass/style.scss */
body .survey_form_style .survey_form .form-group {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 251, ../sass/style.scss */
body .survey_form_style .survey_form .form-group:nth-child(2n) {
  background-color: #eeeeee;
}
/* line 253, ../sass/style.scss */
body .survey_form_style .survey_form .form-group:nth-child(2n).error {
  background-color: #fee !important;
}
/* line 257, ../sass/style.scss */
body .survey_form_style .survey_form .form-group:nth-child(2n-1) {
  background-color: #dddddd;
}
/* line 259, ../sass/style.scss */
body .survey_form_style .survey_form .form-group:nth-child(2n-1).error {
  background-color: #fdd !important;
}
/* line 263, ../sass/style.scss */
body .survey_form_style .survey_form .form-group .control-label {
  text-align: center;
}
/* line 267, ../sass/style.scss */
body .survey_form_style .survey_form #error_tip {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: red;
}
/* line 271, ../sass/style.scss */
body .survey_form_style .survey_form #error_tip.error_tip {
  display: none;
}
/* line 275, ../sass/style.scss */
body .survey_form_style .survey_form .btn_style {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  padding-right: 30px;
}
/* line 284, ../sass/style.scss */
body .login_page .form_signin {
  max-width: 330px;
  padding: 30px !important;
  margin: 0 auto;
  background-color: #eeeeee;
  border-radius: 5px;
}
/* line 51, ../sass/style.scss */
body .login_page .form_signin h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 291, ../sass/style.scss */
body .login_page .form_signin h1 {
  text-align: center;
}
/* line 294, ../sass/style.scss */
body .login_page .form_signin .form_signin_heading {
  margin-bottom: 10px;
}
/* line 297, ../sass/style.scss */
body .login_page .form_signin .checkbox {
  margin-bottom: 10px;
  font-weight: normal;
}
/* line 301, ../sass/style.scss */
body .login_page .form_signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px !important;
  font-size: 16px;
}
/* line 309, ../sass/style.scss */
body .login_page .form_signin .form-control:focus {
  z-index: 2;
}
/* line 313, ../sass/style.scss */
body .login_page .form_signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 318, ../sass/style.scss */
body .login_page .form_signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 326, ../sass/style.scss */
body .case_setting_content {
  box-shadow: 0px 0px 10px rgba(15, 37, 64, 0.6);
}
/* line 51, ../sass/style.scss */
body .case_setting_content .panel-heading .case_setting_title h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 333, ../sass/style.scss */
body .case_setting_content .panel-body {
  padding: 0px !important;
}
/* line 335, ../sass/style.scss */
body .case_setting_content .panel-body .sort_check {
  cursor: pointer;
}
/* line 338, ../sass/style.scss */
body .case_setting_content .panel-body #extendForm, body .case_setting_content .panel-body #closeForm {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 342, ../sass/style.scss */
body .case_setting_content .panel-body .position_ab {
  position: absolute;
  right: 0;
  top: -1px;
}
/* line 347, ../sass/style.scss */
body .case_setting_content .panel-body .return_case_detail {
  float: right;
  margin-bottom: 0px !important;
}
/* line 351, ../sass/style.scss */
body .case_setting_content .panel-body .nav_select {
  margin: 8px 5px;
}
/* line 354, ../sass/style.scss */
body .case_setting_content .panel-body label {
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: #08aaf1;
  color: #ffffff;
  transform-origin: 38px 40px;
  transform: rotateZ(-10deg);
}
/* line 363, ../sass/style.scss */
body .case_setting_content .panel-body label:before {
  content: "";
  position: absolute;
  top: 29px;
  left: 33px;
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-width: 10px 5px 0px 5px;
  border-top-color: #08aaf1;
}
/* line 374, ../sass/style.scss */
body .case_setting_content .panel-body label:hover {
  background-color: #d96c40;
  animation: rotateZ .3s;
}
/* line 377, ../sass/style.scss */
body .case_setting_content .panel-body label:hover:before {
  border-top-color: #d96c40;
}
/* line 381, ../sass/style.scss */
body .case_setting_content .panel-body label.hover {
  background-color: #d96c40 !important;
  animation: rotateZ .3s;
}
/* line 384, ../sass/style.scss */
body .case_setting_content .panel-body label.hover:before {
  border-top-color: #d96c40 !important;
}
/* line 389, ../sass/style.scss */
body .case_setting_content .panel-body .tooltip-inner {
  background-color: #d96c40;
}
/* line 392, ../sass/style.scss */
body .case_setting_content .panel-body .tooltip-arrow {
  border-top-color: #d96c40;
}
/* line 396, ../sass/style.scss */
body .case_setting_content .panel-body .error input, body .case_setting_content .panel-body .error textarea, body .case_setting_content .panel-body .error select {
  background-color: #fee;
  border-color: #e99;
}
/* line 401, ../sass/style.scss */
body .case_setting_content .panel-body a {
  color: #222222;
}
/* line 403, ../sass/style.scss */
body .case_setting_content .panel-body a.btn {
  color: #ffffff;
}
/* line 407, ../sass/style.scss */
body .case_setting_content .panel-body .case_setting_ex {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #eeeeee;
}
/* line 412, ../sass/style.scss */
body .case_setting_content .panel-body .case_setting_detail {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: 1px solid #dddddd;
}
/* line 416, ../sass/style.scss */
body .case_setting_content .panel-body .case_setting_detail:hover {
  background-color: #81C1EF;
  color: #ffffff;
}
/* line 420, ../sass/style.scss */
body .case_setting_content .panel-body .case_setting_detail.click_select {
  background-color: #3D8AD4 !important;
  color: #ffffff;
}
/* line 424, ../sass/style.scss */
body .case_setting_content .panel-body .case_setting_detail .save_btn_dis {
  display: none;
}
/* line 427, ../sass/style.scss */
body .case_setting_content .panel-body .case_setting_detail .btn-xs {
  padding: 0 5px;
}
/* line 432, ../sass/style.scss */
body .case_setting_content .check_password_dis {
  display: none;
}
/* line 435, ../sass/style.scss */
body .case_setting_content .show_box {
  background-color: rgba(50, 50, 50, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
}
/* line 447, ../sass/style.scss */
body .case_setting_content .check_password {
  box-shadow: 0px 0px 10px rgba(15, 37, 64, 0.6);
  border-radius: 5px;
  position: fixed;
  width: 30%;
  height: 30%;
  padding: 2%;
  background-color: #d9edf7;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
/* line 460, ../sass/style.scss */
body .case_setting_content .check_password h3 {
  margin-top: 0;
  text-align: left;
  color: #222222 !important;
}
/* line 465, ../sass/style.scss */
body .case_setting_content .check_password button {
  margin: 20px 5px 0 5px;
}
/* line 468, ../sass/style.scss */
body .case_setting_content .check_password .sales_plz {
  text-align: center;
}
/* line 470, ../sass/style.scss */
body .case_setting_content .check_password .sales_plz h3 {
  text-align: center;
}
/* line 474, ../sass/style.scss */
body .case_setting_content .check_password .check_error_dis {
  display: none;
}
/* line 477, ../sass/style.scss */
body .case_setting_content .check_password .password_plz {
  text-align: center;
}
/* line 480, ../sass/style.scss */
body .case_setting_content .check_password .check_success_dis {
  display: none;
}
/* line 484, ../sass/style.scss */
body .case_setting_content .case_setting_foot {
  background-color: #d9edf7;
}
/* line 486, ../sass/style.scss */
body .case_setting_content .case_setting_foot .check_case_dis {
  display: none;
}
/* line 489, ../sass/style.scss */
body .case_setting_content .case_setting_foot .wrap {
  background-color: rgba(200, 200, 200, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
/* line 500, ../sass/style.scss */
body .case_setting_content .case_setting_foot .check_case {
  box-shadow: 0px 0px 10px rgba(15, 37, 64, 0.6);
  border-radius: 5px;
  width: 30%;
  height: 30%;
  padding: 2%;
  background-color: #d9edf7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
/* line 513, ../sass/style.scss */
body .case_setting_content .case_setting_foot .check_case h3 {
  margin-top: 0;
}
/* line 516, ../sass/style.scss */
body .case_setting_content .case_setting_foot .check_case label {
  margin-top: 20px;
}
/* line 520, ../sass/style.scss */
body .case_setting_content .case_setting_foot form {
  margin-bottom: 0;
}
/* line 522, ../sass/style.scss */
body .case_setting_content .case_setting_foot form label, body .case_setting_content .case_setting_foot form button {
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px 10px 5px 0;
}
/* line 525, ../sass/style.scss */
body .case_setting_content .case_setting_foot form label input, body .case_setting_content .case_setting_foot form button input {
  display: none;
}
/* line 533, ../sass/style.scss */
body .j_form_style {
  padding-top: 50px;
}
/* line 535, ../sass/style.scss */
body .j_form_style img {
  width: 100%;
  cursor: pointer;
}
/* line 539, ../sass/style.scss */
body .j_form_style .dis_style {
  display: none;
}
/* line 542, ../sass/style.scss */
body .j_form_style .j_title {
  color: #222222;
  margin-top: 15px;
  margin-bottom: 25px;
}
/* line 547, ../sass/style.scss */
body .j_form_style .j_form {
  box-shadow: 0px 0px 10px rgba(15, 37, 64, 0.6);
  border-radius: 5px 5px 0 0;
  padding: 30px 0 15px 0;
}
/* line 551, ../sass/style.scss */
body .j_form_style .j_form .form-control:focus {
  border-color: #fff;
}
/* line 554, ../sass/style.scss */
body .j_form_style .j_form label {
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: #08aaf1;
  color: #ffffff;
  transform-origin: 38px 40px;
  transform: rotateZ(-10deg);
}
/* line 563, ../sass/style.scss */
body .j_form_style .j_form label:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 33px;
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-width: 10px 5px 0px 5px;
  border-top-color: #08aaf1;
}
/* line 574, ../sass/style.scss */
body .j_form_style .j_form label:hover {
  background-color: #d96c40;
  animation: rotateZ .3s;
}
/* line 577, ../sass/style.scss */
body .j_form_style .j_form label:hover:before {
  border-top-color: #d96c40;
}
/* line 582, ../sass/style.scss */
body .j_form_style .j_form label.hover {
  background-color: #d96c40 !important;
  animation: rotateZ .3s;
}
/* line 585, ../sass/style.scss */
body .j_form_style .j_form label.hover:before {
  border-top-color: #d96c40 !important;
}
/* line 589, ../sass/style.scss */
body .j_form_style .j_form input, body .j_form_style .j_form select, body .j_form_style .j_form textarea {
  border-color: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(15, 37, 64, 0.3) inset;
  background-color: #eeeeee;
}
/* line 594, ../sass/style.scss */
body .j_form_style .j_form h3 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #dddddd;
}
/* line 599, ../sass/style.scss */
body .j_form_style .j_form .tooltip-inner {
  background-color: #d96c40;
}
/* line 602, ../sass/style.scss */
body .j_form_style .j_form .tooltip-arrow {
  border-top-color: #d96c40;
}
/* line 606, ../sass/style.scss */
body .j_form_style .j_form .error input, body .j_form_style .j_form .error textarea, body .j_form_style .j_form .error select {
  background-color: #fee;
  border-color: #e99;
}
/* line 611, ../sass/style.scss */
body .j_form_style .j_form .btn_p_r_b {
  padding: 15px 30px 15px 15px;
}
/* line 618, ../sass/style.scss */
body #des > div {
  padding: 30px !important;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 10px rgba(15, 37, 64, 0.6);
  background-color: #dddddd;
  margin-bottom: 30px;
}
/* line 625, ../sass/style.scss */
body #des p {
  padding-left: 15px;
}
/* line 630, ../sass/style.scss */
body .p_l_r {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 633, ../sass/style.scss */
body .p_l_r_dis {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 636, ../sass/style.scss */
body .p_all_dis {
  padding: 0px !important;
}
/* line 639, ../sass/style.scss */
body .p_t {
  padding-top: 3px;
}
/* line 642, ../sass/style.scss */
body .m_b {
  margin-bottom: 20px;
}
/* line 645, ../sass/style.scss */
body .dis_none {
  display: none;
}
/* line 648, ../sass/style.scss */
body .separation_line {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  /* line 653, ../sass/style.scss */
  body .p_r {
    padding-right: 30px;
  }
  /* line 656, ../sass/style.scss */
  body .p_l {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 661, ../sass/style.scss */
  body .j_form_style, body #des, body .survey_form_style {
    padding: 0px !important;
  }
  /* line 664, ../sass/style.scss */
  body .btn_right, body .btn_left {
    padding-left: 0;
    padding-right: 0;
  }
}
